<h1 class="title">
  Hello World
</h1>
<a class="button is-dark" id="usd_brl">Usd/Brl</a>
<a class="button is-dark" id="usd_eur">Usd/Eur</a>
<a class="button is-dark" id="usd_arg">Usd/Arg</a>
<div><%= @linegraph.div  %></div>